<%- include('partials/start.ejs') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<%- include('partials/navigation.ejs') %>
    <h1>Page Not Found!</h1>
<%- include('partials/end.ejs') %>